body{
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

.hero{
    height: 200vh;
    background-image: url('../assets/DAMAS_fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0px;
}

.nav{
display: flex;
justify-content: flex-end;
height: 70px;
align-items: center;
font-weight: 700;
}
.user{
display: flex;
justify-content: flex-start;
width: 250px;
height: 70px;
align-items:flex-start;
border: 2px solid blue;
}



.user .logo_user{
    display: block;
    width: 100px;
    height: 100px;
}

.user .logo_user img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 0px;
}

.user p{
    color: white;
    font-size: 30px;
}

.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: initial;

}

.nav__items--1{
    border: 1px solid #fff;
}
.nav_users{
    width: 90%;
    right: inherit;
    display: inline-block;
}
.users{
    list-style: none;
    display: block;
    float: left;
    width: 20%;
}
.users li a{
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    display: block;
}
.users li a:hover{
    background-color:#4343 ;
}

.users li ul{
    display: none;
    position: absolute;
    min-width: 200px;
}

.users li:hover > ul{
    display: block;

}
.nav_invitation{
    width: 300px;
    display: inline-block;
}
.invitation{
    list-style: none;
    display: block;
    float: right;
    width: 20%;
}
.invitation li a{
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    display: block;
}
.invitation li a:hover{
    background-color:#4343 ;
}

.invitation li ul{
    display: none;
    position: absolute;
    min-width: 200px;
}

.invitation li:hover > ul{
    display: block;

}

#tablero{
    width: 500px;
    height: 500px;
    background: #eed09d;
    display: block;
    margin: 200px auto;
    box-shadow: 0px 0px 6px 8px rgb(0, 0, 0),
                0px 0px 6px 16px rgb(6, 55, 83);
    box-sizing: content-box;
    cursor: pointer;

}
.casilla{
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    font-size: 2em;
    /*border: 1px solid #000;*/
}

.tenue{
    background-color: #efefef;
}
.opaca{
    background-color: #888;
 
}